@model ProfileVM
@{
    ViewData["Title"] = "Profile";

    bool isAddress = TempData["Tab"]?.ToString() == "Address";
    bool isOrder = TempData["Tab"]?.ToString() == "Order";
    bool isAccount = TempData["Tab"]?.ToString() == "Account";
    bool isDashboard = TempData["Tab"]?.ToString() == null;
    bool AddressError = TempData["address"]?.ToString() == "true";
    bool editAddressError = TempData["EditAddress"]?.ToString() == "true";
}
<!--====== Breadcrumb Part Start ======-->

<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">My Account</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== My Account Part Start ======-->

<section class="my-account-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-3 col-md-4">
                <div class="my-account-menu mt-30">
                    <ul class="nav account-menu-list flex-column nav-pills" id="pills-tab" role="tablist">
                        <li>
                            <a class="@(isDashboard?"active":"")" id="pills-dashboard-tab" data-toggle="pill" href="#pills-dashboard" role="tab" aria-controls="pills-dashboard" aria-selected="@(isDashboard?true:false)"><i class="far fa-tachometer-alt-fast"></i> Dashboard</a>
                        </li>
                        <li>
                            <a class="@(isOrder?"active":"")" id="pills-order-tab" data-toggle="pill" href="#pills-order" role="tab" aria-controls="pills-order" aria-selected="@(isOrder?true:false)"><i class="far fa-shopping-cart"></i> Order</a>
                        </li>
                        <li>
                            <a class="@(isAddress?"active":"")" id="pills-address-tab" data-toggle="pill" href="#pills-address" role="tab" aria-controls="pills-address" aria-selected="@(isAddress?true:false)"><i class="far fa-map-marker-alt"></i> Address</a>
                        </li>
                        <li>
                            <a class="@(isAccount?"active":"")" id="pills-account-tab" data-toggle="pill" href="#pills-account" role="tab" aria-controls="pills-account" aria-selected="@(isAccount?true:false)"><i class="far fa-user"></i> Account Details</a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="Logout"><i class="far fa-sign-out-alt"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <div class="tab-content my-account-tab mt-30" id="pills-tabContent">
                    <div class="tab-pane fade @(isDashboard?"show active":"")" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">
                        <div class="my-account-dashboard account-wrapper">
                            <h4 class="account-title">Dashboard</h4>
                            <div class="welcome-dashboard">
                                <p>Hello, <strong>Alex Tuntuni</strong> (If Not <strong>Tuntuni !</strong> <a href="#">Logout</a> )</p>
                            </div>
                            <p class="mt-25">From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade @(isOrder?"show active":"")" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                        <div class="my-account-order account-wrapper">
                            <h4 class="account-title">Orders</h4>
                            <div class="account-table text-center mt-30 table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="no">No</th>
                                            <th class="name">Name</th>
                                            <th class="date">Date</th>
                                            <th class="status">Status</th>
                                            <th class="total">Total</th>
                                            <th class="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mostarizing Oil</td>
                                            <td>Aug 22, 2020</td>
                                            <td>Pending</td>
                                            <td>$100</td>
                                            <td><a href="#">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Katopeno Altuni</td>
                                            <td>July 22, 2020</td>
                                            <td>Approved</td>
                                            <td>$45</td>
                                            <td><a href="#">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Murikhete Paris</td>
                                            <td>June 22, 2020</td>
                                            <td>On Hold</td>
                                            <td>$99</td>
                                            <td><a href="#">View</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade @(isAddress?"show active":"")" id="pills-address" role="tabpanel" aria-labelledby="pills-address-tab">
                        <div class="my-account-address account-wrapper">
                            <h4 class="account-title">Payment Method</h4>
                            <a class="main-btn main-btn-2 addAddressBtn @( AddressError || editAddressError ? "d-none":"")" href="#"><i class="far fa-edit"></i> Edit Address</a>
                            <div class="addressForm @(AddressError? "":"d-none")">
                                @await Html.PartialAsync("_AddressPartial",Model.Address)
                            </div>
                            <div class="editAddressForm @(editAddressError? "":"d-none")">
                                @if(editAddressError)
                                {
                                    @await Html.PartialAsync("_EditAddressPartial",Model.Address)
                                }
                            </div>
                            <div class="addressContainer row @(AddressError || editAddressError? "d-none":"")">
                               @foreach (Address address in Model.Addresses.OrderByDescending(a=>a.isDefault))
                                {
                                    <div class="account-address mt-30 col-lg-3">
                                        <h6 class="name">
                                            @address.Country
                                            @if (address.isDefault)
                                            {
                                                <span class="badge badge-pill badge-info">Default</span>
                                            }
                                        </h6>
                                        <p>@address.Line1<br>@address.Line2, @address.PostalCode</p>
                                        <p>@address.Town</p>
                                        <p>@address.State</p>
                                        <a class="main-btn main-btn-2 editAddressBtn" asp-controller="Account" asp-action="editAddress" asp-route-id="@address.Id"><i class="far fa-edit"></i> Edit Address</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade @(isAccount?"show active":"")" id="pills-account" role="tabpanel" aria-labelledby="pills-account-tab">
                        @await Html.PartialAsync("_ProfileAccountPartial",Model.ProfileAcoountVM)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== My Account Part Ends ======-->
